.form-wrap{
    margin-bottom: 1.2rem;
    background-color: rgb(255, 255, 255);
    padding: 0.85rem;
    border: 1px solid #88888844;
    border-radius: 8px;
}
.form-wrap form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.field-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.col-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}
.col-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

/* .span-2 {
    grid-column: span 1;
} */

.input {
    width: 100%;
    padding: 0.6rem;
    border-radius: 5px;
    border: 1px solid #88888844;
}

input:focus {
    outline: none;
    border-bottom: 3px solid rgb(9, 88, 0);
}

.buttons-wrap {
    width: 100%;
    border-top: 2px solid #88888814;
    padding: 1.2rem 0;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    width: 20%;
    margin: 0 auto;
}

.btn {
    padding: 0.65rem 0;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    border: none;
}

.cancelBtn {
    border: 2px solid rgba(42, 42, 42, 0.186);
    color: rgb(0, 0, 0);
    transition: 0.5s ease all;

}

.cancelBtn:hover{
    border: 2px solid rgba(170, 0, 0, 0.478);
    color: rgb(162, 0, 0);
}


.saveBtn {
    background-color: rgb(0, 190, 3);
    transition: 0.5s ease all;
    &:hover{
        background-color: rgb(0, 125, 2);
    }
}

/* ============================= */
/*  RESPONSIVE */
/* ============================= */

@media (max-width: 768px) {
    .buttons{
    width: 100%;
    gap: 0.85rem;
}
    .col-3 {
    grid-template-columns: repeat(1, 1fr);
    gap: 0.45rem;
}
.col-4 {
    grid-template-columns: repeat(1, 1fr);
    gap: 0.45rem;
}
}